{
  "comments": false,
  "env": {
    "main": {
      "presets": [
        ["@babel/preset-env", {
          "targets": { "node": 10 }
        }]
      ]
    },
    "renderer": {
      "presets": [
        ["@babel/preset-env", {
          "targets": { "browsers": ["chrome >= 65"] }
          // "modules": false
        }]
      ]
    }
  },
  "plugins": ["@babel/transform-runtime"]
}
