:root{
    // 主背景颜色
    --main-bk-color:#222222;
    // 主文字颜色
    --main-text-color:#ddd;
    // header颜色
    --header-bk-color:rgba(34, 34, 34, 0.9);
    // header文字颜色
    --header-text-color:#ddd;
    // 次级文字颜色
    --tina-text-color:#a5a5a5; 
    // 图片分割线
    --image-item-bottom-color:#bbbbbb;

    --image-item-wallpaper-bk:rgba(0, 0, 0, 0.4);
    --image-item-wallpaper-bk-hover:rgba(0, 0, 0, 0.7);
    --image-item-wallpaper-flag-bk:rgba(0, 0, 0, 0.7);
}